<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="https://img.icons8.com/cute-clipart/50/000000/clapperboard.png"/>
    <title>Movie Hub</title>
</head>
<body>
    <div class="nav_container">
        <div class="nav_list">
            <a href="https://movie-hub-app.herokuapp.com/">
                <img 
                    src="https://img.icons8.com/cute-clipart/50/000000/clapperboard.png"
                    style="align-items: left; padding-left: 30px;"
                    height="35px" width="70px">
            </a>
        </div>
        <div class="nav_list" style="text-align: center;">
            <a href="https://movie-hub-app.herokuapp.com/">
                <b>Movie Hub</b>
            </a>
        </div>
        <div class="nav_list" style="text-align: right; padding-right: 30px;"><a href="https://www.linkedin.com/in/arihant-jain-01/" target="_blank">About</a></div>
    </div>
    <br><br><br><br>