@media(max-width: 699.99px){
    .name, .find{
        width: 97%;
        height: 40px;
        border-radius: 15px;
        background-color: white;
        font-size: large;
        font-weight: bold;
        padding-left: 5px;
    }
    .grid__container1{
        padding: 10px;
        width: 100%;
        display: grid;
        gap: 10px;
    }
    .pic, .pic > img{
        height: 100%;
        width: 100%;
        border-radius: 20px;
    }
    .pic-card, .specs, .info{
        font-size: 20px;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        padding: 10px;
        text-align: center;
        border-radius: 20px;
    }
    .grid__container{
        padding: 7px;
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: auto auto;
        gap: 10px;
        justify-content: space-around;
    }
    .card{
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        height: auto;
        width: 49%;
        text-align: center;
        border-radius: 20px;
    }
    .card__img{
        height: 50%;
        width: 100%;
        padding-bottom: 7px;
    }
    .card__img > img{
        height: 50%;
        width: 100%;
        border-radius: 20px;
    }
}
@media(min-width: 700px){
    .name, .find{
        width: 250px;
        height: 35px;
        border-radius: 10px;
        background-color: white;
        font-size: medium;
        font-weight: bold;
        padding-left: 5px;
    }
    .grid__container1{
        padding: 5% 15% 1% 15%;
        width: 100%;
        display: grid;
        grid-template-columns: 300px auto;
        grid-template-rows: auto auto;
        justify-content: space-around;
        gap: 10px;
    }
    .pic, .pic > img{
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }
    .pic-card, .specs, .info{
        font-size: 20px;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        width: 100%;
        padding: 20px;
        text-align: center;
        border-radius: 10px;
    }
    .pic-card{
        padding: 10px;
    }
    .info{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .grid__container{
        padding: 50px 60px 50px 60px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 35px 5%;
        justify-content: space-around;
    }
    .card{
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        height: auto;
        padding-top: 3px;
        width: 260px;
        text-align: center;
        border-radius: 10px;
    }
    .card__img{
        height: 350px;
        width: 100%;
        padding-bottom: 15px;
    }
    .card__img > img{
        height: 100%;
        width: auto;
        border-radius: 10px;
    }
}
.find:hover {
    box-shadow: 0 4px 4px 0 black;
    cursor: pointer;
}
html{
    font-size: 62.5%;
}
body{
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #fa0c9f, #ff002b9f, #bd21ece7, #2422be80, #890af0a1, #2a97be9d);
    background-size: 2000% 2000%;
    animation: gradient 20s ease infinite;
    justify-content: center;
}
@keyframes gradient {
    0%  {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100%{background-position: 0% 50%;}
}
.nav_container{
    display: grid;
    height: 55px;
    width: 100%;
    z-index: 1;
    position: fixed;
    background: white;
    border-radius: 0 0 20px 20px;
    grid-template-columns: auto auto auto;
    align-items: center;
    box-shadow: 0 6px 6px 0 black;
    cursor: default;
}
.nav_list{
    font-size: 20px;
    align-items: center;
    color: blue;
}
a:link, a:visited, a:active {
    color: blue;
    text-decoration: none;
}
a:hover {
    color: deepskyblue;
    text-decoration: none;
}
.card:hover {
    box-shadow: 0 8px 8px 0 black;
    cursor: pointer;
    transition: transform 0.5s;
    transform: scale(1.01);
}