@media(max-width: 899.99px){
    .name{
        width: 97%;
        height: 40px;
        border-radius: 15px;
        background-color: white;
        font-size: large;
        padding-left: 5px;
    }
    .find{
        width: 97%;
        height: 40px;
        border-radius: 15px;
        background-color: white;
        font-size: large;
        font-weight: bold;
        padding-left: 5px;
    }

    .grid__container1{
        padding: 10px;
        width: 100%;
        height: auto;
        display: grid;
        gap: 10px;
    }
    .pic{
        height: 100%;
        width: 100%;
        border-radius: 20px;
    }
    .pic > img{
        height: 100%;
        width: 100%;
        border-radius: 20px;
    }
    .pic-card{
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        text-align: center;
        padding: 10px;
        align-items: center;
        border-radius: 20px;
    }
    .specs{
        font-size: 20px;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 100%;
        padding: 10px;
        text-align: center;
        border-radius: 20px;
    }
    .info{
        font-size: 20px;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        padding: 10px;
        text-align: center;
        border-radius: 20px;
    }

    .grid__container{
        padding: 7px;
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        grid-template-columns: auto auto;
        gap: 10px;
    }
    .card{
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        height: auto;
        width: 48%;
        text-align: center;
        border-radius: 20px;
    }
    .card__img{
        height: 50%;
        width: 100%;
        padding-bottom: 7px;
    }
    .card__img > img{
        height: 50%;
        width: 100%;
        border-radius: 20px;
    }
}
@media(min-width: 900px){
    .name{
        width: 250px;
        height: 35px;
        border-radius: 10px;
        background-color: white;
        font-size: large;
        padding-left: 5px;
    }
    .find{
        width: 250px;
        height: 35px;
        border-radius: 10px;
        background-color: white;
        font-size: large;
        font-weight: bold;
        padding-left: 5px;
    }

    .grid__container1{
        padding-left: 20%;
        padding-right: 20%;
        padding-top: 7%;
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 320 auto;
        grid-template-rows: auto auto;
        gap: 10px;
    }
    .pic{
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }
    .pic > img{
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }
    .pic-card{
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        text-align: center;
        padding: 10px;
        align-items: center;
        border-radius: 10px;
    }
    .specs{
        font-size: 20px;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 100%;
        padding: 20px;
        text-align: center;
        border-radius: 10px;
    }
    .info{
        grid-column-start: 1;
        grid-column-end: 3;
        font-size: 20px;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        padding: 20px;
        text-align: center;
        border-radius: 10px;
    }

    .grid__container{
        padding-left: 80px;
        padding-right: 80px;
        padding-top: 50px;
        padding-bottom: 50px;
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        gap: 35px 45px;
    }
    .card{
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        height: auto;
        padding-top: 3px;
        width: 260px;
        text-align: center;
        border-radius: 10px;
    }
    .card__img{
        height: 350px;
        width: 100%;
        padding-bottom: 15px;
    }
    .card__img > img{
        height: 100%;
        width: auto;
        border-radius: 10px;
    }
}
.find:hover {
    box-shadow: 0 4px 4px 0 black;
    cursor: pointer;
}
html{
    font-size: 62.5%;
}
body{
    width: 100%;
    height: 100%;
    background: mediumslateblue;
    justify-content: center;
}
.nav_container{
    display: grid;
    height: 55px;
    background: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    grid-template-columns: auto auto auto;
    align-items: center;
}
.nav_list{
    font-size: 20px;
    align-items: center;
    color: blue;
}
a:link {
    color: blue;
    text-decoration: none;
}
a:visited {
    color: blue;
    text-decoration: none;
}
a:hover {
    color: deepskyblue;
    text-decoration: none;
}
a:active {
    color: blue;
    text-decoration: none;
}
.card:hover {
    box-shadow: 0 8px 8px 0 black;
    cursor: pointer;
}
.nav_container:hover {
    box-shadow: 0 8px 8px 0 black;
    cursor: default;
}