<%- include('../partials/header')%>
    <br><br>
    <form align="center" name="myForm" action="/movie_search" method="POST">
        <input type="text" name="movieName" placeholder="Search for movie" required>
        <input type="submit" value="Search">
    </form>
<%- include('../partials/footer')%>