<%- include('../partials/header')%>
    <br><br>
    <form align="center" name="myForm" action="/movie_search" method="POST">
        <input class="name" type="text" name="movieName" placeholder="Movie Name" required>
        <br><br>
        <input class="find" type="submit" value="Search">
    </form>
<%- include('../partials/footer')%>